@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import './_colors';
@import './reset';


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primaryColor1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primaryColor2;
}

body,
.main-container,
.container {
    height: 100%;
    background-color: $primaryColor1;
    color: $fontcolor;
    font-family: montserrat;
    font-weight: 400;
}

.skill-background {
    height: 500px;
    margin-top: 0em;
    background-color: $primaryColor3;
    width: 100% !important;
}

.navbar {
    display: flex;
    margin-top: 15px;
}

div>.container {
    width: 70%;
    margin: 0 auto;
}

.pages>ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 55%;
}

.home {
    display: flex;
    margin-top: 0px;

    .textArea {
        width: 45%;
    }

    .homeImage {
        width: 55%;
    }
}

p {
    font-size: 16px;
    word-spacing: 2px;
    line-height: 1.7em;
}

.pages {
    width: 45%;
    line-height: 80px;
}

.pages>ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $fontcolor;
}

a:hover {
    text-transform: uppercase;
}

.textArea {
    margin-top: 10em;


    h1,
    h2,
    p,
    input {
        padding: 5px 0px;
    }

    h1 {
        font-weight: 600;
        font-size: 36px;
    }

    h3 {
        color: $primaryColor2;
    }

    p {
        margin-top: 10px;

    }

    input {
        margin: 15px 0px;
        padding: 7px 15px;
        font-size: 16px;
        border: 1px solid white;
        color: black;
        cursor: pointer;

        &:hover {
            border: 1px solid white;
            background: none;
            color: white;
            transition: all ease 0.5s;
        }
    }
}


.line {
    font-weight: bolder;
    margin-top: 10px 0px;
}

.aboutArea {
    margin-top: 2em;
    display: flex;

    .aboutImage {
        width: 55%;

        img {
            position: relative;
            margin: -5em 0 0 -4em;
        }
    }

    .about {
        width: 45%;
        margin-top: 4em;

        .line {
            margin: 5px 0px 10px 0px;
        }

        input {
            margin: 15px 0px;
            padding: 7px 15px;
            font-size: 16px;
            border: 1px solid white;
            color: black;
            cursor: pointer;

            &:hover {
                border: 1px solid white;
                background: none;
                color: white;
                transition: all ease 0.5s;
            }
        }
    }
}


.containerSkill {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 70px;

    p {
        margin-top: 20px;
        text-align: center;
    }

    .line {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 5px;
    }
}

.skillBar {
    margin: 2em 1em;
    display: flex;

    .bar-1,
    .bar-2 {
        width: 50%;

        .right {
            float: right;
            margin-right: 20%;
            font-size: 16px;
        }
    }

    .bar-2 {
        float: right;
    }
}

.skillBar {
    .bar-1>.progress {
        width: 80%;
        height: 5px;
        margin: 10px 0 40px 0;
        background-color: $primaryColor2;

        .htmlscore {
            background-color: white;
            width: 92%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .cssscore {
            background-color: white;
            width: 87%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .scssscore {
            background-color: white;
            width: 79%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .bar-2>.progress {
        width: 80%;
        height: 5px;
        margin: 10px 0 40px 0;
        background-color: $primaryColor2;

        .jsscore {
            background-color: white;
            width: 69%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .vuescore {
            background-color: white;
            width: 48%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .xdscore {
            background-color: white;
            width: 85%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

.main-container>.container>#footer {
    margin-top: 4em;


    h2 {
        text-align: center;
    }

    .line {
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }

    input {
        margin: 20px 0px;
        padding: 8px 17px;
        font-size: 16px;
        border: 1px solid white;
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &:hover {
            border: 1px solid white;
            background: none;
            color: white;
            transition: all ease 0.5s;
        }
    }

    p {
        text-align: center;
        margin-bottom: 15px;
    }

    .icons {
        display: flex;
        justify-content: center;


        div {
            border: none;
            background-color: $primaryColor3;
            padding: 6px;
            border-radius: 20%;
            margin: 0 5px;
            width: auto;
            height: auto;


            &:hover {
                background-color: $primaryColor2;
                cursor: pointer;
                transition: all ease 0.5s;

            }
        }
    }

    .hrline {
        border-bottom: 1px solid white;
        margin-top: 4em;
    }

    .copyright {
        margin: 2em 0 0 3em;
    }
}

.main-container>.container>.activeJobs {
    margin-top: 4em;

    .line {
        margin-top: 1em;
    }

    .activeArea {
        display: flex;
        margin-top: 2em;

        .activeboxes,
        .activeText {
            width: 50%;
        }
    }
}